# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# TT9 test stuff localy
tt9-dictionary

# Output / Corpus data
data/
*.db
*.csv
*.sqlite
corpuses/
too-big-stuff/

# Various . folders
.venv
.pytest_cache
.claude
